.hero-text h1 {
  float: left;
  color: white;
  position: absolute;
  left: 25%;
  top: 50%;
  font-size: 500%;
  font-family: 'Tinos', serif;
}
.top-of-frame {
  border-color: white;
  border-width: 4px;
  position: absolute;
  width: 25%;
  float: left;
  left: 24.5%;
  top: 45%;
}
.top-virticle-side-of-frame {
  border-color: white;
  border-width: 4px;
  position: absolute;
  width: 9%;
  float: left;
  left: 20%;
  top: 54%;
  transform: rotate(90deg);
}


.bottom-of-frame{
  border-color: white;
  border-width: 4px;
  position: absolute;
  width: 25%;
  float: right;
  left: 41%;
  top: 75%;
}
.bottom-virticle-side-of-frame {
  border-color: white;
  border-width: 4px;
  position: absolute;
  width: 10%;
  float: left;
  left: 61%;
  top: 65%;

  transform: rotate(90deg);
}



.hero-text h2 {
  float: left;
  color: white;
  position: absolute;
  left: 25%;
  top: 65%;
  font-size: auto;
  font-family: 'Source Sans Pro', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

.hero-image, .hero-image-recycle  {
  background-image: url(../assets/Banner.png);
  height: 100%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
/*.hero-image-recycle {
  background-image: url(assets/Banner.png);
  height: 100%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}*/
.container-1 img{
  border-style: solid;
  border-color: white;

}

/*This is the information body.*/
.body-container-1 {
  /*height: 100%;*/
  /*width: 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background:#f6f6f6;
  position: relative;

  /*color: white;*/
}
.container-1 {
	padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.body-container-1 .container-1 img{
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  overflow: hidden;
}

p {
	font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

/*This is the Contact us component*/
.body-container-2 {
  bottom: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  text-align: center;
  padding-top: 10%;
  font-family: 'Source Sans Pro', sans-serif;
  background:white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


/*This is the contact information*/
.body-container-2 .col-sm-6 {
  float: right;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 5%;
  padding-bottom: 5%;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

hr {
  width: 10%;
}

.container-3 .col-xl-12 {
  height: 100%;
  min-height: 100%;
  text-align: center;
  background-color: #f6f6f6;
  font-family: 'Source Sans Pro', sans-serif;

}

/*---------------------------------------------- tasmanianfacilities css -------------------------------------------------------- */

.NW-town-list li, .N-town-list li, .S-town-list li {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  list-style-type: none;
  margin-left: -35px;
}
